body {
    margin: 60px auto;
    width: 70%;
    background-color: white;
}

header{
    margin-top: 0;
    background-color: white;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li:hover, footer ul li:hover {
    background-color:#B0E0E6;
    color: white;
}
a {
    text-decoration: none;
    color: darkslategrey;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #DF744A;
    background-color: #B0E0E6;
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: darkslategrey;
}
footer {
    background-color: white;
    font-size: .8em;
}

.portrait {
    height: auto;
    max-width: 30%;
}

.resumeButton {
    background-color: white;
    border: none;
    color: darkslategrey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.resumeButton:hover {
    background-color: #DCB239;
    color: darkslategrey;
    border: none;
}

