body {
    background-color: #4F5C4B !important;
    color: white !important;
    font-family: Apercu,"Source Sans Pro",system,system-ui,Helvetica,Arial,sans-serif;
}

.jumbotron {
    background-color: #EBE8D4;
    color: #4F5C4B;
    margin-top: 10%;
    margin-bottom: 10%;
}

.projectsSection{
    background-color: whitesmoke;
    color: #4F5C4B;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 14px;
    margin-right: 10%;
}

a {
    color: white;
}
a:hover {
    color: #14e0eb3b;
}
h1 {
    text-align: center;
    color: white;
}
p {
    font-size: 14px;
}

.introPic{
    width: 100%;
    max-width: 250px;
    height: auto;
}

/*Top Nav Bar*/
.navbar{
    margin-bottom: 0;
    padding-right: 5%;
    background-color: #4F5C4B;
    border: 0;
    color: white !important;
}
.navbar li a, .navbar .navbar-brand {
    color: white !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #768672 !important;
    background-color: #4F5C4B;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: white !important;
}

.second-nav-bar{
    background-color: white;
    color: #4F5C4B;
}

/* Footer */
footer {
    background-color: #4F5C4B;
    padding-top: 5px;
    line-height: 1.428;
}
.footerul {
    padding: 10px;
    list-style: none;
    display: inline;
    text-decoration: none;
}
footer ul li{
    padding: 10px;
    list-style: none;
    display: inline;
    text-decoration: none;
}
footer ul li:hover {
    text-decoration: none;
    color: white;
}

.left-text{
    text-align: left;
}

.mountain_img {
    width: 100%;
    height: 100%;
}

.resume{
    margin: 5%;
}

/*Resume Download Button*/
.emailBttnTxt, .emailBttnTxt:hover{
    background-color: #4F5C4B;
    color: white;
    text-decoration: none;
}
.resumeButton {
    background-color: #4F5C4B;
    color: white;
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}
.resumeButton:hover {
    background-color: #768672;
    color: rgb(178, 175, 175);
}


/*Language Cubes*/
.languageCube{
    background-color: #4F5C4B;
    text-align: center;
    padding: 2px 7px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 3px 3px 3px 0;
}

/*Column Header Title*/
.sectionHeader{
    vertical-align: top;
    color: white;
    font-weight:normal;
}
