body {
    background-color: #020131 !important;
    color: white !important;
    font-family: Apercu,"Source Sans Pro",system,system-ui,Helvetica,Arial,sans-serif;
}

.light-mode {
    background-color: white !important;
    color: #020131 !important;
}

.jumbotron {
    background-color: #020131;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
}

.aboutSection{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 14px;
}

.projectsSection{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 14px;
    margin-right: 10%;
}

a {
    color: #14e0eb;
}
a:hover {
    color: #14e0eb3b;
}
h1 {
    text-align: center;
}
p {
    font-size: 14px;
}

.introPic{
    width: 100%;
    max-width: 250px;
    height: auto;
}

/*Top Nav Bar*/
.navbar{
    margin-bottom: 0;
    padding-right: 5%;
    background-color: #020131;
    border: 0;
    color: #b08f26 !important;
}
.navbar li a, .navbar .navbar-brand {
    color: #b08f26 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #b0902642 !important;
    background-color: #020131;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #b08f26 !important;
}

/* Footer */
footer {
    border-top: 1px solid #b08f26;
    padding-top: 5px;
    line-height: 1.428;
}
.footerul {
    padding: 10px;
    list-style: none;
    display: inline;
    text-decoration: none;
}
footer ul li{
    padding: 10px;
    list-style: none;
    display: inline;
    text-decoration: none;
}
footer ul li:hover {
    text-decoration: none;
    color: white;
}

.resume{
    margin: 5%;
}

/*Resume Download Button*/
.emailBttnTxt, .emailBttnTxt:hover{
    color: #14e0eb;
    text-decoration: none;
}
.resumeButton {
    background-color: None;
    border: 1px solid #14e0eb;
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}
.resumeButton:hover {
    background-color: #14e0eb3b;
    color: black;
    border: 1px solid #14e0eb;
}


/*Language Cubes*/
.languageCube{
    border: 1px solid #14e0eb;
    text-align: center;
    border-radius: 4px;
    padding: 2px 7px;
    color: #14e0eb;
    text-decoration: none;
    display: inline-block;
    margin: 3px 3px 3px 0;
}

/*Column Header Title*/
.sectionHeader{
    vertical-align: top;
    color: #020131;
    font-weight:normal;
}

/* Slider for Dark mode */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
