<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/projects">Projects</a></li>
						<li class="topnav-right"><a href="/resume" class="resumeNavTxt">Resume</a></li>
					</ul>
				</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:emmeline.pearson@gmail.com">emmeline.pearson@gmail.com</a></li>
	        		<li><img src="github.png" alt="github" class="logo"><a href="https://github.com/emmeline2">github.com/emmeline2</a></li>
				</ul>
			</footer>
		</body>
	</html>
