<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">		
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="navbar navbar-default" id="top-nav-bar">
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/#about">ABOUT</a></li>
						<li><a href="/#projects">PROJECTS</a></li>
						<li><a href="/#research">RESEARCH</a></li>
						<li><a href="/resume">RESUME</a></li>
						<li><label class="switch">
							<input type="checkbox" onclick="myFunction()">
							<span class="slider round"></span>
						  </label>
						</li>
					</ul>
				</div>
			</nav>
			
			{{ content }}
			<footer class="container-fluid">
	    		<ul>
	        		<li><a href="mailto:emmeline.pearson@gmail.com">EMAIL</a></li>
	        		<li><a href="https://github.com/emmeline2">GITHUB</a></li>
					<li><a href="https://www.linkedin.com/in/emmeline-pearson-6ba960129/">LINKEDIN</a></li>
				</ul>
			</footer>
		</body>
	</html>

<script>
	function myFunction() {
	var element = document.body;
	element.classList.toggle("light-mode");
	var element = document.getElementById("jumbotron");
	element.classList.toggle("light-mode");
	var element = document.getElementById("top-nav-bar");
	element.classList.toggle("light-mode");
	var element = document.getElementById("title1");
	element.classList.toggle("light-mode");
	var element = document.getElementById("title2");
	element.classList.toggle("light-mode");
	var element = document.getElementById("title3");
	element.classList.toggle("light-mode");
	var element = document.getElementById("title4");
	element.classList.toggle("light-mode");
	}
</script>
