<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
				<nav>
					<ul>
						<li><a href="/">Emmeline</a></li>
						<li class="topnav-right"><a href="/resume" class="resumeNavTxt">Resume</a></li>
					</ul>
				</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:emmeline.pearson@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/emmeline2">Github</a></li>
					<li><a href="https://www.linkedin.com/in/emmeline-pearson-6ba960129/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
